.vscode
__pycache__
%*
build/
dist/
*egg-info*
.vscode
example/PackerTestApp/*
!example/PackerTestApp/PackerTestApp*
example/PackerTestApp/*.user
x64/
tests/output/
_unpacked.exe
Release/